html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden; 
}

@font-face{
	font-family: 'loop';
	src: url("fonts/LEVIBRUSH.TTF");
}

#bg-image{
	background:url("bg2.jpg") -25px -50px;
	position: absolute;
	top: 0%;
	width: 110%;
	
	z-index: 0;
		height: 100%;
		background-size: calc(100% + 50px);

}


.header{
	position: absolute;
	left: 30%;
	top: 20%;
	font-family: 'loop';
	font-size: 65px;

}

.footer{
	position: fixed;
	bottom: 10px;
	margin-left: 45%; 
	width: 100%;
	font-family: 'loop'
}

.blur{

	-webkit-filter: blur(5px);
	-webkit-transform: translate3d(0, 0, 0);
}

.container {
    position:absolute;
    width:100%;
    height:100%;
}
